<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getVelocityTemplateRenderers>
        <processor type="SXA.Foundation.Variants.Pipelines.GetVelocityTemplateRenderers.AddTemplateRenderers, SXA.Foundation.Variants" 
                   patch:after="processor[@type='Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVelocityTemplateRenderers.InitializeVelocityContext, Sitecore.XA.Foundation.Variants.Abstractions']" />
      </getVelocityTemplateRenderers>
      <parseVariantFields>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.QueryString.ParseQueryStringField, SXA.Foundation.Variants" resolve="true" />
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ImageWithClass.ParseImageWithClass, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ImageSection.ParseImageSection, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.Script.ParseScript, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ItemReference.ParseItemReference, SXA.Foundation.Variants" resolve="true"/>
      </parseVariantFields>
      <renderVariantField>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.QueryString.RenderQueryStringField, SXA.Foundation.Variants" resolve="true" />
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ImageWithClass.RenderImageWithClass, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ImageSection.RenderImageSection, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.Script.RenderScript, SXA.Foundation.Variants" resolve="true"/>
        <processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ItemReference.RenderItemReference, SXA.Foundation.Variants" resolve="true"/>
      </renderVariantField>
    </pipelines>
  </sitecore>
</configuration>